.collcon{
    background-color: white;
}
.collcon h1 {
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid #0AA284;
    height: 60px;
    font-weight: 100;
    line-height: 60px;
}
.collcon h1 span {
    color: #0AA284;
    margin-top: 10px;
    display: inline-block;
    border-bottom: 2px solid;
    height: 49px;
    margin-left: 12px;
}
.piece:hover{
    background-color: #EEEEEE;
}
.piece {
    clear: both;
    width: 98%;
    height: 45px;
    margin: 0 auto;
    border-bottom: 1px solid #E6E6E6;
    line-height: 45px;
    cursor: pointer;
}
.the-le {
    float: left;
    color: #777777;
    font-size: 15px;
    overflow: hidden;
    width: 702px;
    height: 100%;
}
.the-ri {
    float: right;
    color: #777777;
    font-size: 13px;
    margin-right: 16px;
}
.the-le span{
    float: left;
}
.the-le a:hover{
    color: #777777!important;
}
.the-le a{
    color: #777777;
}
span.tit {
    font-weight: bold;
    color: #333333;
    font-size: 15px;
    margin-right: 12px;
}
.no {
    margin: 0 auto;
    background-color: #DFF0D8;
    color: #468847;
    height: 58px;
    margin-top: 18px;
    line-height: 58px;
    text-indent: 15px;
    border-radius: 8px;
}
.manu {
    margin-top: 20px!important;
}